<mat-sidenav-container class="main-container">
  <!-- Sidebar -->
  <mat-sidenav
    #sidebar
    [mode]="isDesktop ? 'side' : 'over'"
    [opened]="isDesktop"
    class="sidenav"
    (closedStart)="closeSidebar()"
  >
    <div class="sidebar-header">
      <img src="assets/images/UMS.png" alt="Logo" class="sidebar-logo" />
    </div>
    <mat-nav-list>
      <mat-list-item
        routerLink="/user-list"
        routerLinkActive="active-link"
      >
        <mat-icon aria-hidden="false" aria-label="Example list icon" fontIcon="list"></mat-icon>
        &nbsp;User List
      </mat-list-item>
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="Example settings icon" fontIcon="settings"></mat-icon>
        &nbsp; Settings
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidebar(sidebar)">
        <mat-icon>{{ sidebar.opened ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <span>User Management System</span>
    </mat-toolbar>

    <!-- Router Outlet (Dynamic Content) -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <mat-toolbar color="primary" class="footer">
      <span>© 2025 User Management System</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
